@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;1,100&family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  background-color: #fefcf7;
  color: #333d4b;
  word-wrap: break-word;
}

header {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 2.7rem auto;
  width: 88%;
}

.logo img {
  width: 100%;
  /* border: 1px solid black; */
}

.checkbtn {
  display: none;
}

.checkbtn-img {
  width: 100%;
}

.nav-bar {
  /* border: 1px solid black; */
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li a {
  display: block;
  color: #83888f;
  font-family: "Barlow";
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.9rem;
  text-transform: uppercase;
  margin: 0 1rem;
}

.nav-bar ul li a:nth-of-type(3) {
margin-top: 5rem;
}

.na

.nav-bar ul li a:hover {
  cursor: pointer;
  color: #333d4b;
}

.hero {
  width: 88%;
  padding: 8.3rem 0 8.3rem 5.3rem;
  margin: auto;
  border-radius: 0.6rem;
  background: url("./assets/plan/desktop/image-hero-blackcup.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* border: 1px solid black; */
}

.hero-txt {
  background: transparent;
  /* border: 1px solid black; */
  width: 40%;
  word-wrap: break-word;
}

.hero-txt h1,
p {
  background: transparent;
  color: #fefcf7;
}

.hero-txt h1 {
  font-family: "Fraunces 9pt";
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
  margin-bottom: 2rem;
}

.hero-txt p {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  opacity: 0.8;
}

.first-section {
  /* border: 1px solid black; */
  width: 88%;
  margin: 10.5rem auto 0 auto;
  background: #2c343e;
  padding: 7.2rem 0 6.2rem 0;
  border-radius: 0.6rem;
}

.first-section .steps {
  /* border: 1px solid black; */
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin-left: 5.3rem;

  background: transparent;
  /* padding-top: 7.2rem; */
}

.first-section .steps h1,
h2,
p {
  background: transparent;
  /* border: 1px solid black; */
}

.first-section .steps h1 {
  font-family: "Fraunces 9pt";
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 4.5rem;
  color: #fdd6ba;
  margin-bottom: 2.25rem;
}

.first-section .steps h2 {
  font-family: "Fraunces 9pt";
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.25rem;
  color: #fefcf7;
  margin-bottom: 2.6rem;
  width: 70%;
}

.first-section .steps p {
  width: 90%;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #fefcf7;
}

.line {
  border: 2px solid #fdd6ba;
  margin: 0 0 5.1rem 6rem;
  display: flex;
  justify-content: space-between;
  height: 0.01%;
  width: 60%;
}

.first-section .line .circle {
  border: 2px solid #0e8784;
  height: 1.9rem;
  width: 1.9rem;
  border-radius: 3rem;
  margin-top: -0.9rem;
  background: transparent;
}

.first-section .line .circle:nth-of-type(1) {
  margin-left: -1rem;
}

.first-section .line .circle:nth-of-type(3) {
  margin-right: -1rem;
}

.step-one,
.step-two,
.step-three {
  width: 30%;
  background: transparent;
}

.second-section {
  /* border: 1px solid black;  */
  width: 77%;
  margin: 10.5rem auto 0 auto;
  display: flex;
  justify-content: space-between;
}

.second-section .choices {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 20rem;
}

.second-section .choices a{
  text-align: left;
  word-wrap: break-word;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #83888f;
  padding-top: 1rem;
  width: 100%;
}

.second-section .choices a:hover{
  color: #333d4b;
}

.second-section .choices .first-choice,
.second-section .choices .second-choice,
.second-section .choices .third-choice,
.second-section .choices .fourth-choice,
.second-section .choices .fifth-choice {
  display: flex;
  border-bottom: 1px solid #83888f;
  height: 20%;
}



.second-section .choices .num {
  /* margin: .5rem auto; */
  padding: 1rem;
  /* border: 1px solid black; */
  height: 100%;
  color: #83888f;
  font-family: "Fraunces 9pt";
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 2rem;
}

.choices .num.active {
  color: #0e8784;
} 

.second-section .choice-cards {
  width: 69%;
  /* border: 1px solid black; */
}

.choice-cards .card-header {
  /* border: 1px solid black; */
  display: flex;
  margin-bottom: 3.5rem;
  cursor: pointer;
  justify-content: space-between;
}

.choice-cards .card-header h1 {
  color: #83888f;
  font-family: "Fraunces 9pt";
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 3rem;
  /* border: 1px solid black; */
  width: 80%;
}
.choice-cards .card-header-image {
  width: 1.5rem;
  height: 1.5rem;
  /* border: 1px solid black; */
  display: flex;
  background: url("./assets/plan/desktop/icon-arrow.svg");
  background-size: 100% 70%;
  background-repeat: no-repeat;
  background-position: bottom right;
  align-self: center;
}

.choice-cards .card-header-image.active {
  transform: rotate(180deg);
}

.second-section .choice-cards .method-card,
.second-section .choice-cards .beans-card,
.second-section .choice-cards .quantity-card,
.second-section .choice-cards .grind-card,
.second-section .choice-cards .delivery-card {
  margin-bottom: 5.5rem;
  /* border: 1px solid black; */
}

.choice-cards .method,
.choice-cards .beans,
.choice-cards .quantity,
.choice-cards .grind,
.choice-cards .delivery {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  cursor: pointer;
  /* display: none; */
}

.choice-cards h3 {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1.5rem;
  background: transparent;
}

.choice-cards .preferences {
  display: none;
}

.choice-cards .preferences.active {
  display: flex;
  justify-content: space-between;
}

.choice-cards p {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #333d4b;
}

.pref-one,
.pref-two,
.pref-three {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  width: 32%;
  padding: 2rem 1.75rem 5.25rem 1.75rem;
  border-radius: 0.5rem;
  background: #f4f1eb;
}

.pref-one,
.pref-two.inactive,
.pref-three.inactive {
  background: #f4f1eb;
}

.pref-one.active,
.pref-two.active,
.pref-three.active {
  background: #0e8784;
}

.pref-one:hover,
.pref-two:hover,
.pref-three:hover {
  cursor: pointer;
  background: #fdd6ba;
  transition: 0.2s ease-in-out;
}

.pref-one.active:hover,
.pref-two.active:hover,
.pref-three.active:hover {
  cursor: pointer;
  background: #0e8784;
  transition: 0.2s ease-in-out;
}

.pref-one.active:hover {
  background: #0e8784;
}

.order-sum {
  text-align: center;
}

.order-sum-text {
  background: #2c343e;
  border-radius: 0.6rem;
  color: #fdd6ba;
  padding: 2.9rem 4rem;
  text-align: left;
}

.order-sum h4 {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  text-transform: uppercase;
  color: #ffffff;
  background: transparent;
  margin-bottom: 0.5rem;
}

.order-sum h2 {
  color: #fefcf7;
}

.order-sum span {
  background: transparent;
  color: #0e8784;
}

.order-sum button {
  margin: 2.5rem auto;
  background: #e2dedb;
  border-radius: 0.37rem;
  padding: 1rem 0;
  width: 30%;
  text-align: center;
  line-height: 1.5rem;
  font-size: 1.1rem;
  font-weight: 900;
  color: #fefcf7;
  border: none;
}

.order-complete:hover {
  cursor: pointer;
  background: #66D2CF;
}

footer {
  /* border: 1px solid black; */
  margin: 10.5rem 6% 5.5rem 6%;
  display: flex;
  justify-content: space-between;
  background: #2c343e;
  padding: 3rem 5.3rem;
}

.footer-image {
  background: transparent;
  /* border: 1px solid black; */
}

footer .footer-image #footer-logo {
  background: transparent;
  width: 100%;
}

.footer-items {
  text-align: center;
  background: transparent;
  margin: 0;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.footer-links {
  background: transparent;
  /* border: 1px solid black; */
  width: 45%;
  display: flex;
  justify-content: flex-start;
}

.footer-links a {
  background: transparent;
  color: #83888f;
  font-style: normal;
  font-family: "Barlow";
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.9rem;
  word-wrap: break-word;
  /* border: 1px solid black; */
  margin-right: 2rem;
}

.footer-links a:hover {
  color: #fefcf7;
  cursor: pointer;
}

.social-media {
  width: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid black; */
  background: transparent;
  padding: 0;
}

.social-media img {
  background: transparent;
  width: 15%;
  /* border: 1px solid black; */
  margin: 0;
}

.social-media img:hover {
  cursor: pointer;
  filter: invert(0.3) sepia(1);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  /* border: 1px solid black; */
}

.modal-content {
  width: 55%;
  /* border: 1px solid black; */
  /* height: 63vh; */
  border-radius: 0.5rem;
  margin: 2rem auto 0 auto;
  background: #f4f1eb;
  padding-bottom: 3.5rem;
}

.modal-text {
  width: 80%;
  margin: auto;
  background: #f4f1eb;
}
.modal-text span {
  color: #0e8784;
  background: transparent;
}

.modal-content h1 {
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 3rem 0 2.5rem 3.5rem;
  background: #2c343e;
  color: #f4f1eb;
  margin-bottom: 3.5rem;
}

.modal-content .modal-text h1 {
  width: 100%;
  margin-bottom: 0.5rem;
  font-family: "Fraunces 9pt";
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #83888f;
  padding: 0;
  background: transparent;
}

.modal-content .total-amount {
  display: flex;
  /* height: 2.25rem; */
  background: transparent;
}

.modal-content .total-amount h1 {
  background: #f4f1eb;
  font-family: "Fraunces 9pt";
  font-weight: 900;
  font-size: 2rem;
  line-height: 3.5rem;
  width: 50%;
  padding: 0;
  color: #333d4b;
  margin: 0;
}

.modal-content p {
  color: #333d4b;
  margin-bottom: 2.9rem;
  font-family: "Barlow";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  opacity: 0.8;
}

.modal-content .total-amount button {
  font-family: "Fraunces 9pt";
  font-weight: 900;
  font-size: 1.125rem;
  line-height: 1.6rem;
  border-radius: 0.375rem;
  padding: 0.9rem 4rem;
  border: none;
  background-color: #0e8784;
  color: #f4f1eb;
}

.modal-content .total-amount button:hover {
  background: #66D2CF;
  cursor: pointer;
}

.modal.active {
  display: inline;
}

@media screen and (max-width: 850px) {
  /* header {
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 2.7rem auto;
        width: 88%;
    } */

  .logo img {
    width: 100%;
    /* border: 1px solid black; */
  }

  .checkbtn {
    display: none;
  }

  .checkbtn-img {
    width: 100%;
  }

  .nav-bar {
    /* border: 1px solid black; */
  }

  .nav-bar ul {
    display: flex;
  }

  .nav-bar ul li a {
    display: block;
    color: #83888f;
    font-family: "Barlow";
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 0.9rem;
    text-transform: uppercase;
    margin: 0 1rem;
  }

  .nav-bar ul li a:hover {
    cursor: pointer;
    color: #333d4b;
  }

  .hero {
    margin: 0 auto 9rem auto;
    border-radius: 0.6rem;
    background: url("./assets/plan/tablet/image-hero-blackcup.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 7.9rem 0 7.9rem 3.6rem;
  }

  .hero-txt {
    background: transparent;
    width: 60%;
  }

  .hero-txt h1,
  p {
    background: transparent;
    color: #fefcf7;
  }

  .hero-txt h1 {
    font-family: "Fraunces 9pt";
    font-weight: 900;
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 2rem;
  }

  .hero-txt p {
    font-family: "Barlow";
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.5rem;
    width: 100%;
  }

  .first-section {
    /* border: 1px solid black; */
    width: 100%;
    margin: 0;
    background: #2c343e;
    padding: 7.2rem 0 6.2rem 0;
    border-radius: 0.6rem;
  }

  .first-section .steps {
    /* border: 1px solid black; */
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    background: transparent;
    /* padding-top: 7.2rem; */
  }

  .first-section .steps h1,
  h2,
  p {
    background: transparent;
    /* border: 1px solid black; */
  }

  .first-section .steps h1 {
    font-family: "Fraunces 9pt";
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 4.5rem;
    color: #fdd6ba;
    margin-bottom: 2.25rem;
  }

  .first-section .steps h2 {
    font-family: "Fraunces 9pt";
    font-weight: 900;
    font-size: 2rem;
    line-height: 2.25rem;
    color: #fefcf7;
    margin-bottom: 2.6rem;
    width: 70%;
  }

  .first-section .steps p {
    width: 100%;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.6rem;
    color: #fefcf7;
    text-align: left;
  }

  .line {
    border: 2px solid #fdd6ba;
    margin: 0 0 5.1rem 3rem;
    display: flex;
    justify-content: space-between;
    height: 0.01%;
    width: 62%;
  }

  .first-section .line .circle {
    border: 2px solid #0e8784;
    height: 1.9rem;
    width: 1.9rem;
    border-radius: 3rem;
    margin-top: -0.9rem;
    background: transparent;
  }

  .first-section .line .circle:nth-of-type(1) {
    margin-left: -1rem;
  }

  .first-section .line .circle:nth-of-type(3) {
    margin-right: -1rem;
  }

  .step-one,
  .step-two,
  .step-three {
    width: 32.5%;
    background: transparent;
  }

  .second-section {
    /* border: 1px solid black; */
    width: 90%;
    margin: 9rem auto 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .second-section .choices {
    display: none;
  }

  .second-section .choice-cards {
    width: 100%;
    /* border: 1px solid black; */
  }

  .second-section .choice-cards .method-card,
  .second-section .choice-cards .beans-card,
  .second-section .choice-cards .quantity-card,
  .second-section .choice-cards .grind-card,
  .second-section .choice-cards .delivery-card {
    margin-bottom: 5.5rem;
    width: 100%;
  }

  .choice-cards .method,
  .choice-cards .beans,
  .choice-cards .quantity,
  .choice-cards .grind,
  .choice-cards .delivery {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    cursor: pointer;
    /* display: none; */
  }

  .choice-cards .card-header {
    /* border: 1px solid black; */
    display: flex;
    margin-bottom: 2.5rem;
  }

  .choice-cards .card-header h1 {
    color: #83888f;
    font-family: "Fraunces 9pt";
    font-weight: 900;
    font-size: 2rem;
    line-height: 3rem;
    /* border: 1px solid black; */
    cursor: pointer;
    width: 80%;
  }

  .choice-cards h3 {
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
    background: transparent;
  }

  .choice-cards .preferences {
    display: none;
  }

  .choice-cards .preferences.active {
    display: flex;
    justify-content: space-between;
  }

  .choice-cards p {
    font-family: "Barlow";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6rem;
    color: #333d4b;
  }

  .pref-one,
  .pref-two,
  .pref-three {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 32%;
    padding: 2rem 1.75rem 5.25rem 1.75rem;
    border-radius: 0.5rem;
    background: #f4f1eb;
  }

  .pref-one.active,
  .pref-two.active,
  .pref-three.active {
    background: #0e8784;
  }

  .pref-one.active:hover,
  .pref-two.active:hover,
  .pref-three.active:hover {
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }

  /* .pref-one:hover,
  .pref-two:hover,
  .pref-three:hover {
    cursor: pointer;
    background: #fdd6ba;
    transition: 0.2s ease-in-out;
  } */

  .order-sum {
    text-align: center;
  }

  .order-sum-text {
    background: #2c343e;
    border-radius: 0.6rem;
    color: #fdd6ba;
  }

  .order-sum h4 {
    font-family: "Barlow";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6rem;
    text-transform: uppercase;
    color: #ffffff;
    background: transparent;
    margin-bottom: 0.5rem;
  }

  .order-sum h2 {
    color: #fefcf7;
  }

  .order-sum span {
    background: transparent;
    color: #0e8784;
  }

  .order-sum button {
    margin: 2.5rem auto;
    background: #0e8784;
    border-radius: 0.37rem;
    padding: 1rem 0;
    width: 30%;
    text-align: center;
    line-height: 1.5rem;
    font-size: 1.1rem;
    font-weight: 900;
    color: #fefcf7;
    border: none;
  }

  .order-sum button:hover {
    cursor: pointer;
    background: cyan;
  }

  footer {
    margin: 9rem 5% 4.5rem 5%;
    background: #2c343e;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.4rem 0;
  }

  .footer-image {
    background: transparent;
    /* border: 1px solid black; */
    width: 90%;
    margin: auto;
  }

  footer .footer-image #footer-logo {
    background: transparent;
    width: 100%;
  }

  .footer-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    text-align: center;
    width: 42%;
  }

  .footer-links {
    background: transparent;
    margin-bottom: 4rem;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin: 2rem auto 4rem auto;
  }

  .footer-links a {
    background: transparent;
    color: #83888f;
    font-family: "Barlow";
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 0.9rem;
    word-wrap: break-word;
    margin: 0;
  }

  .social-media {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    /* border: 1px solid black; */
    background: transparent;
  }

  .social-media img {
    background: transparent;
    width: 1.5rem;
    height: 1.5rem;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    /* border: 1px solid black; */
  }

  .modal-content {
    width: 90%;
    /* border: 1px solid black; */
    /* height: 63vh; */
    border-radius: 0.5rem;
    margin: 2rem auto 0 auto;
    background: #f4f1eb;
    padding-bottom: 3.5rem;
  }

  .modal-text {
    width: 80%;
    margin: auto;
    background: #f4f1eb;
  }

  .modal-content h1 {
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 3rem 0 2.5rem 3.5rem;
    background: #2c343e;
    color: #f4f1eb;
    margin-bottom: 3.5rem;
  }

  .modal-content .modal-text h1 {
    width: 100%;
    margin-bottom: 0.5rem;
    font-family: "Fraunces 9pt";
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #83888f;
    padding: 0;
    background: transparent;
  }

  .modal-content .total-amount {
    display: flex;
    /* height: 2.25rem; */
    justify-content: space-between;
    background: transparent;
  }

  .modal-content .total-amount h1 {
    background: #f4f1eb;
    font-family: "Fraunces 9pt";
    font-weight: 900;
    font-size: 2rem;
    line-height: 3.5rem;
    width: 60%;
    padding: 0;
    color: #333d4b;
    margin: 0;
  }

  .modal-content p {
    color: #333d4b;
    margin-bottom: 2.9rem;
    font-family: "Barlow";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6rem;
    opacity: 0.8;
  }

  .modal-content .total-amount button {
    font-family: "Fraunces 9pt";
    font-weight: 900;
    font-size: 1.125rem;
    line-height: 1.6rem;
    border-radius: 0.375rem;
    padding: 0.9rem 2rem;
    border: none;
  }
}

@media screen and (max-width: 440px) {
  header {
    /* border: 1px solid black; */
    margin: 2rem 1.5rem;
    display: flex;
    justify-content: space-between;
  }

  .logo img {
    width: 70%;
    /* border: 1px solid black; */
  }

  .nav-bar {
    position: absolute;
    top: 5.6rem;
    left: 0;
    right: 0;
    width: 100vw;
    height: 0;
    background: linear-gradient(
      180deg,
      rgba(254, 252, 247, 1) 50%,
      rgba(254, 252, 247, 0)
    );
  }

  .nav-bar.active {
    height: 50vh;
  }

  .nav-bar ul {
    display: block;
    margin: 2.5rem auto 0 auto;
    text-align: center;
    opacity: 0;
    background: transparent;
  }

  .nav-bar ul li {
    background: transparent;
  }

  .nav-bar.active ul {
    opacity: 1;
  }

  .nav-bar ul li a {
    margin-bottom: 2rem;
    font-family: "Fraunces 9pt";
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #333d4b;
    text-transform: capitalize;
    background-color: transparent;
    z-index: 2;
    position: relative;
  }

  .nav-bar ul li a:hover {
    cursor: pointer;
    color: #333d4b;
  }

  .checkbtn {
    display: block;
    cursor: pointer;
  }

  .checkbtn img {
    width: 100%;
    height: 100%;
  }

  .hero {
    margin: 0 auto 9rem auto;
    border-radius: 0.6rem;
    background: url("./assets/plan/mobile/image-hero-blackcup.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 6.3rem 1.56rem 8.5rem 1.5rem;
    /* border: 1px solid black; */
  }

  .hero-txt {
    background: transparent;
    width: 100%;
    text-align: center;
  }

  .hero-txt h1,
  p {
    background: transparent;
    color: #fefcf7;
  }

  .hero-txt h1 {
    font-family: "Fraunces 9pt";
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 1.37rem;
  }

  .hero-txt p {
    font-family: "Barlow";
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.6rem;
    width: 100%;
  }

  .first-section {
    /* border: 1px solid black; */
    width: 100%;
    margin: 0;
    background: #2c343e;
    padding: 5rem 0 5rem 0;
    border-radius: 0.6rem;
  }

  .line {
    display: none;
  }

  .first-section .line .circle {
    border: 2px solid #0e8784;
    height: 1.9rem;
    width: 1.9rem;
    border-radius: 3rem;
    margin-top: -0.9rem;
    background: transparent;
  }

  .first-section .line .circle:nth-of-type(1) {
    margin-left: -1rem;
  }

  .first-section .line .circle:nth-of-type(3) {
    margin-right: -1rem;
  }

  .first-section .steps {
    /* border: 1px solid black; */
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    background: transparent;
  }

  .first-section .steps h1,
  h2,
  p {
    background: transparent;
    /* border: 1px solid black; */
  }

  .first-section .steps h1 {
    font-family: "Fraunces 9pt";
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 4.5rem;
    color: #fdd6ba;
    margin-bottom: 2.25rem;
    text-align: center;
  }

  .first-section .steps h2 {
    font-family: "Fraunces 9pt";
    font-weight: 900;
    font-size: 2rem;
    line-height: 2.25rem;
    color: #fefcf7;
    margin-bottom: 2.6rem;
    width: 100%;
    text-align: center;
  }

  .first-section .steps p {
    width: 100%;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.6rem;
    color: #fefcf7;
    text-align: center;
  }

  .step-one,
  .step-two,
  .step-three {
    width: 95%;
    margin: 0 auto 3.5rem auto;
    background: transparent;
  }

  .second-section {
    /* border: 1px solid black; */
    width: 85%;
    margin: 9rem auto 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .second-section .choices {
    display: none;
  }

  .second-section .choice-cards {
    width: 100%;
    /* border: 1px solid black; */
  }

  .second-section .choice-cards .method-card,
  .second-section .choice-cards .beans-card,
  .second-section .choice-cards .quantity-card,
  .second-section .choice-cards .grind-card,
  .second-section .choice-cards .delivery-card {
    margin-bottom: 6.875rem;
    width: 100%;
    /* border: 1px solid black; */
  }

  .choice-cards .method,
  .choice-cards .beans,
  .choice-cards .quantity,
  .choice-cards .grind,
  .choice-cards .delivery {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    cursor: pointer;
    /* display: none; */
  }

  .choice-cards .card-header {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    margin-bottom: 2rem;
  }

  .choice-cards .card-header .card-header-image {
    background-size: 100% 70%;
    height: 1rem;
    width: 1rem;
    /* align-self: flex-start;
            border: 1px solid black; */
  }

  .choice-cards .card-header h1 {
    color: #83888f;
    font-family: "Fraunces 9pt";
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.75rem;
    /* border: 1px solid black; */
    width: 65%;
    cursor: pointer;
  }

  .choice-cards h3 {
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
    background: transparent;
  }

  .choice-cards .preferences {
    display: none;
  }

  .choice-cards .preferences.active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .choice-cards p {
    font-family: "Barlow";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6rem;
    color: #333d4b;
  }

  .pref-one,
  .pref-two,
  .pref-three {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: #f4f1eb;
    margin-bottom: 1rem;
  }

  .choice-cards .preferences h3 {
    margin-bottom: 0.5rem;
  }

  .pref-one .active,
  .pref-two .active,
  .pref-thre .active {
    background: #0e8784;
  }

  .pref-one:hover,
  .pref-two:hover,
  .pref-three:hover {
    cursor: pointer;
    background: #fdd6ba;
    transition: 0.2s ease-in-out;
  }

  .order-sum {
    text-align: center;
    width: 100%;
    margin: auto;
  }

  .order-sum-text {
    background: #2c343e;
    border-radius: 0.6rem;
    color: #fdd6ba;
    padding: 2rem 1.5rem;
  }

  .order-sum-text h4 {
    font-family: "Barlow";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6rem;
    text-transform: uppercase;
    color: #ffffff;
    background: transparent;
    margin-bottom: 0.5rem;
  }

  .order-sum-text p {
    font-family: "Fraunces 9pt";
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .order-sum h2 {
    color: #fefcf7;
  }

  .order-sum span {
    background: transparent;
    color: #0e8784;
  }

  .order-sum button {
    margin: 2.5rem auto;
    background: #0e8784;
    border-radius: 0.37rem;
    padding: 1rem 0;
    width: 60%;
    text-align: center;
    line-height: 1.5rem;
    font-size: 1.1rem;
    font-weight: 900;
    color: #fefcf7;
    border: none;
  }

  .order-sum button:hover {
    cursor: pointer;
    background: cyan;
  }

  footer {
    /* border: 1px solid black; */
    margin: 7.5rem 1.5rem 4.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    background: #2c343e;
    padding: 3.4rem;
  }

  .footer-items {
    width: 100%;
    /* border: 1px solid black; */
  }

  .footer-image {
    margin-bottom: 3rem;
  }

  .footer-links {
    /* border: 1px solid black; */
    width: 60%;
    display: flex;
    flex-direction: column;
    color: #83888f;
    background-color: transparent;
    justify-content: space-between;
    margin: 0 0 3rem 0;
  }

  .footer-links a {
    background-color: transparent;
    font-family: "Barlow";
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 0.9rem;
    text-transform: uppercase;
    color: #83888f;
  }

  .footer-links a:nth-of-type(1),
  .footer-links a:nth-of-type(2) {
    padding-bottom: 1.5rem;
  }

  .social-media {
    /* border: 1px solid black; */
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    width: 70%;
  }

  .social-media img {
    background: transparent;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    /* border: 1px solid black; */
  }

  .modal-content {
    width: 90%;
    /* border: 1px solid black; */
    /* height: 63vh; */
    border-radius: 0.5rem;
    margin: 2rem auto 0 auto;
    background: #f4f1eb;
    padding-bottom: 3.5rem;
  }

  .modal-text {
    width: 80%;
    margin: auto;
    background: #f4f1eb;
  }

  .modal-content h1 {
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 1rem 0 1rem 0.5rem;
    background: #2c343e;
    color: #f4f1eb;
    margin-bottom: 3.5rem;
  }

  .modal-content .modal-text h1 {
    width: 100%;
    margin-bottom: 0.5rem;
    font-family: "Fraunces 9pt";
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #83888f;
    padding: 0;
    background: transparent;
  }

  .modal-content .total-amount {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background: #0e8784;
    /* border: 1px solid black; */
    border-radius: 0.375rem;
    width: 100%;
  }

  .modal-content .total-amount h1 {
    font-family: "Fraunces 9pt";
    font-weight: 900;
    font-size: 1.125rem;
    line-height: 1.56rem;
    width: 55%;
    padding: 0;
    color: #ffffff;
    margin: 0;
    background: #0e8784;
  }

  .modal-content p {
    margin-bottom: 2.9rem;
    font-family: "Barlow";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6rem;
    opacity: 0.8;
    color: #333d4b;
  }

  .modal-content .total-amount button {
    font-family: "Fraunces 9pt";
    font-weight: 900;
    font-size: 1.125rem;
    line-height: 1.6rem;
    padding: 0.9rem 1rem;
    border: none;
    background: #0e8784;
    color: #ffffff;
  }
}
