@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;1,100&family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&display=swap');


*{
padding: 0;
margin: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;   
background-color: #fefcf7;
color: #333D4B; 
}

header{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    /* padding: 0; */
    margin: 2.7rem 5rem;
}

.logo img{
    width: 100%;
    /* border: 1px solid black; */
}

.checkbtn{
    display: none;
}

.checkbtn-img{
    width: 100%;
}

.nav-bar{
    /* border: 1px solid black; */
}

.nav-bar ul{
    display: flex;
}

.nav-bar ul li a{
    display: block;
    color: #83888F;
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 0.9rem;
    text-transform: uppercase;
    margin: 0 1rem;
}

.nav-bar ul li a:hover {
    cursor: pointer;
    color: #333D4B;
}

.hero{
    margin: 0 auto;
    padding: 8.5rem 5.2rem; 
    border-radius: .6rem;
    background-image: url('./assets/about/desktop/image-hero-whitecup.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    word-wrap: break-word;
    width: 88%;
}

.hero-txt {
    /* border: 1px solid black; */
    background: transparent;
    width: 45%;
    height: 20%;
    /* margin: 10% 5.3rem; */
}

.hero-txt h1 {
    margin-bottom: 1.5rem;
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 2rem;
    line-height: 3rem;
    }

.hero-txt p {
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6rem;
    opacity: 0.8;
    }

.hero-txt h1,p {
    background: transparent;
    color: #fefcf7;
    }

.first-section {
    margin: 10.5rem 10% 0 10%;
    border-radius: .7rem;
    /* border: 1px solid black; */
    background-size: 40% 100%;
    display: flex;
    justify-content: space-between;
    }

.first-section-image {
    background: url('./assets/about/desktop/image-commitment.jpg');
    width: 42%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 4rem;
    border-radius: .6rem;
    }

.first-section-txt {
    /* border: 1px solid black; */
    width: 45%;
    margin: 8% 0
    }

.first-section-txt h1 {
    margin-bottom: 1.87rem;
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 32px;
    line-height: 48px;
    color: #000;
    }
    
.first-section-txt p {
    font-family: 'Barlow';
    font-weight: 900;
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    color: #000;
    }

.second-section {
    /* border: 1px solid black; */
    margin: 10.5rem 6% 0 6%;
    padding-top: 5.5rem;
    text-align: center;
    }
    
.second-section-items {
    background: url('./assets/about/desktop/bg-quality.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid black; */
    border-radius: .6rem;
    /* padding-bottom: 4rem; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    }

.second-section-image {
    /* border: 1px solid black; */
    width: 35%;
    height: 29.6rem;
    margin: -5.5rem 0 5.5rem 0;
    background: url('./assets/about/desktop/image-quality.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 0.5rem;
    }

.second-section-txt {
    background: transparent;
    width: 40%;
    margin: 5.5rem 0 11rem 0;
    text-align: left;
    }
    
.second-section-txt h1,p {
    background: transparent;
    color: #fefcf7;
    }
    
.second-section h1 {
    margin-bottom: 2rem;
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 2rem;
    line-height: 3rem;
    }
    
.second-section p{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    opacity: 0.8;
    }

.third-section{
    margin: 10.5rem 15% 0 15%;
    /* border:1px solid black; */
}

.third-section h1{
    color: #83888F;
}

.third-section .locations {
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    margin-top: 4.5rem;
    padding-top: .3rem;
}

.location-one,
.location-two,
.location-three{
    width: 33%;
    /* border: 1px solid black; */
}

.third-section .locations label img {
    margin-bottom: 3rem;
    }

.location-one h1,
.location-two h1,
.location-three h1 {
    margin-bottom: 1.3rem;
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 2rem;
    line-height: 2.25rem;    
    color: #333D4B;
}

.third-section .locations .address-info {
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6rem;
    color: #333D4B;
}

footer{
    /* border: 1px solid black; */
    margin: 10.5rem 6% 5.5rem 6%;
    display: flex;
    justify-content: space-between;
    background: #2C343E;
    padding: 3rem 5.3rem;
}

.footer-image {
background: transparent;
/* border: 1px solid black; */
    }

footer .footer-image #footer-logo{
    background: transparent;
    width: 100%;
}    

.footer-items {
    text-align: center;
    background: transparent;
    margin: 0;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    }

.footer-links{
    background: transparent;
    /* border: 1px solid black; */
    width: 45%;
    display: flex;
    justify-content: flex-start;
}

.footer-links a {
    background: transparent;
    color: #83888F;
    font-family: 'Barlow';
    font-weight: 700;
    font-size: .75rem;
    line-height: .9rem;
    word-wrap: break-word;
    /* border: 1px solid black; */
    margin-right: 2rem;
    }

.social-media {
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid black; */
    background: transparent;
    padding: 0;
    }

.social-media img {
    background: transparent;
    width: 15%;
    /* border: 1px solid black; */
    margin: 0;
    }





@media screen and (max-width:1100px) {
    .footer-items{
        display: flex;
        justify-content: space-evenly;
    }
    
}





@media screen and (max-width: 768px) {
header{
        padding: 0 5%;
        margin: 2.5rem 0;
        display: flex;
    }

    .hero{
        margin: 3.3rem 5%;
        padding: 7.3rem 0 7.3rem 3.6rem;
        border-radius: .6rem;
        background-image: url('./assets/about/tablet/image-hero-whitecup.jpg');
        background-size: 100% 100%;
        word-wrap: break-word;
        /* border: 1px solid black; */
    }

    .hero-txt{
        background: transparent;
        /* border: 1px solid black; */
        height: 20%;
        width: 59%;
        margin: 0;
    }

    .hero-txt h1{
        margin-bottom: 1.5rem;
        font-family: 'Fraunces 9pt';
        font-weight: 900;
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .hero-txt p{
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 0.95rem;
    line-height: 1.5rem;
    opacity: 0.8;
    }

    .hero-txt h1, p{
        background: transparent;
        color: #fefcf7;
    }

    .first-section{
        margin: 9rem 5% 0 5%;
        border-radius: .7rem;
        /* border: 1px solid black; */
        background-size: 40% 100%;
        display: flex;
        justify-content: space-between;
    }

    .first-section-image{
        background: url('./assets/about/tablet/image-commitment.jpg');
        width: 17.56rem;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-right: 4rem;
        border-radius: .6rem;
    }
    

    .first-section-txt{
        /* border: 1px solid black; */
        width: 21.2rem;
        margin-top: .5rem;
    }

    .first-section-txt h1{
        margin-bottom: 1.87rem;
        font-family: 'Fraunces 9pt';  
        font-weight: 900;
        font-size: 32px;
        line-height: 48px;
        color: #333D4B;
    }

    .first-section-txt p{
        font-family: 'Barlow';
        font-weight: 900;
        font-size: 0.9rem;
        line-height: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .second-section{
        /* border: 1px solid black; */
        margin: 9rem 5% 0 5%;
        text-align: center;
        padding-top: 10rem;
    }

    .second-section-items{
        background: url('./assets/about/tablet/bg-quality.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        /* border: 1px solid black; */
        border-radius: .6rem;
        padding-bottom: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .second-section-image{
        margin-top: -10rem;
        background: url('./assets/about/tablet/image-quality.jpg');
        background-size: 100% 100%;
        width: 80%;
        height: 20rem;
        border-radius: 0.5rem;
        margin-bottom: 0;
    }
    
    .second-section-txt{
        /* border: 1px solid black; */
        width: 75%;
        text-align: center;
        background: transparent;
        margin: 4rem 5rem 0 5rem;    
    }

    .second-section-txt h1,p {
        background: transparent;
        color: #fefcf7;
        }

    .second-section h1{
        margin-bottom: 1.5rem;
        font-family: 'Fraunces 9pt';
        font-weight: 900;
        font-size: 2rem;
        line-height: 3rem;
    }

    .second-section p{
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 0.9rem;
        line-height: 1.5rem;
        opacity: 0.8;
    }

    .third-section{
        margin: 9rem 5% 0 5%;
        /* border:1px solid black; */
    }

    .third-section .locations{
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-top: 4.5rem;
        padding-top: .3rem;
    }

    .location-one, .location-two, .location-three{
        width: 33%;
        /* border: 1px solid black; */
    }

    .third-section .locations label img{
        margin-bottom: 3rem;
        /* border:  1px solid black; */
    }
    .location-one h1, .location-two h1, .location-three h1{
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 1.5rem;
        line-height: 2.25rem;
    }

    .third-section .locations .address-info{
        font-family: 'Barlow';
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.6rem;
        /* border: 1px solid black; */
        }

    footer{
        margin: 9rem 5% 4.5rem 5%;
        background: #2C343E;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3.4rem 0;

    }

    .footer-image {
        background: transparent;
        /* border: 1px solid black; */
        width: 90%;
        margin: auto;
        }
    
    footer .footer-image #footer-logo {
        background: transparent;
        width: 100%;
        }

        .footer-items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 1px solid black; */
        text-align: center;
        width: 42%;
        }

    .footer-links{
        background: transparent;
        margin-bottom: 4rem;
        width: 100%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        margin: 2rem auto 4rem auto;
    }

    .footer-links a{
        background: transparent;
        color: #83888F;
        font-family: 'Barlow';
        font-weight: 700;
        font-size: .75rem;
        line-height: .9rem;
        word-wrap: break-word; 
        margin: 0;   
    }

    .social-media{
        display: flex;
        width: 50%;
        justify-content: space-evenly;
        /* border: 1px solid black; */
        background: transparent;
    }

    .social-media img{
        background: transparent;
        width: 1.5rem;
        height: 1.5rem;
    }
}







@media screen and (max-width:375px){
    body{
        /* padding: 0 1.5rem; */
    }

    header{
        /* border: 1px solid black; */
        margin: 2rem 1.5rem;
        display: flex;
        justify-content: space-between;
    }

    .logo img{
        width: 70%;
    }

    .nav-bar{
        position: absolute;
        top:5.6rem;
        left: 0;
        right: 0;
        width: 100vw;
        height: 0;
        background: linear-gradient(180deg,rgba(254,252,247,1) 50%, rgba(254,252,247,0));
            }

    .nav-bar.active {
        height: 100vh;
        }

    .nav-bar ul{
        display: block;
        margin: 2.5rem auto 0 auto;
        text-align: center;
        opacity: 0;
        background: transparent;
    }

    .nav-bar ul li{
        background: transparent;
    }

    .nav-bar.active ul {
        opacity: 1;
        }
    
    .nav-bar ul li a{
        margin-top: 2rem;
        font-family: 'Fraunces 9pt';
        font-weight: 900;
        font-size: 1.5rem;
        line-height: 2rem;
        color: #333D4B;
        text-transform: capitalize;
        background-color: transparent;
    }

    .checkbtn{
        display:block;
        cursor: pointer;
        }

    .checkbtn img{
        width: 100%;
        height: 100%;    
        }


    .hero{
        margin: 2.5rem 1.5rem;
        padding: 6.9rem 0 5.4rem 0;
        border-radius: .7rem;
        background-image: url('./assets/about/mobile/image-hero-whitecup.jpg');
        background-size: 100% 100%;
        word-wrap: break-word;
        }

        .hero-txt{
            text-align: center;
            margin: 0 auto;
            background-color: transparent;
            /* border: 1px solid black; */
            padding: 0;
            width: 85%;
        }

        .hero-txt h1{
            font-family: 'Fraunces 9pt';
            margin-bottom: 1.5rem;
            background-color: transparent;
            color: #fff;
            font-weight: 900;
        }

        .hero-txt p{
            background-color: transparent;
            color: #fff;
            
        }

        .first-section{
            margin: 7.5rem 1.5rem 0 1.5rem;
            border-radius: .7rem;
            display: flex; 
            flex-direction: column;
            /* border: 1px solid black; */
            
        }

        .first-section-image {
            /* border: 1px solid black; */
            background: url('./assets/about/mobile/image-commitment.jpg');
            background-size: 100% 100%;
            width: 100%;
            height: 25rem;
            border-radius: .5rem;
        }

        .first-section-txt{
            margin-top: 3rem;
            margin-bottom: 0;
            text-align: center;
            width: 100%;
            /* border: 1px solid black; */
            
        }

        .first-section-txt h1{
            font-family: 'Fraunces 9pt';
            font-style: normal;
            font-weight: 900;
            font-size: 2.3rem;
            line-height: 3rem;
            word-wrap:break-word;

        }
        .first-section-txt p{
            padding: 0;
            margin-top: 2rem;
            margin-bottom: 0;
            /* border: 1px solid black; */
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 0.9rem;
            line-height: 1.5rem;
            color: #333D4B;
            mix-blend-mode: normal;
            opacity: 0.8;
        }

        .second-section{
            margin: 12rem 1.5rem 0  1.5rem;
            padding-top: 0;
            /* border: 1px solid black; */
            
        }
        .second-section-items{
            text-align: center;
            background-image: url('./assets/about/mobile/bg-quality.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            margin-top: 4.8rem;
            padding-bottom: 4rem;
            border-radius: .6rem;
            /* border: 1px solid rgb(13, 32, 68); */
        }

        .second-section-image{
            width: 80%;
            height: 9.75rem;
            background: url('./assets/about/mobile/image-quality.jpg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            margin-top: -4.8rem;
        }

        .second-section-txt{
            background-color: transparent;
            display: flex;
            flex-direction: column;
            margin: 4rem 1.7rem 0 1.7rem;
        }    

        .second-section-txt h1,p{
        background-color: transparent;
        color: #fefcf7;
        }
        .second-section-txt h1{
            margin-bottom: 1.5rem;
            font-family: 'Fraunces 9pt';
            font-style: normal;
            font-weight: 900;
            font-size: 1.75rem;
            line-height: 1.75rem;
            word-wrap: break-word;
        }

        .second-section-txt p{
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 0.9rem;
            line-height: 1.5rem;
        }

        .third-section{
            /* border: 1px solid black; */
            margin: 7.5rem 1.5rem 0 1.5rem;
            text-align: center;
        }

        .third-section h1{
            font-family: 'Fraunces 9pt';
            font-style: normal;
            font-weight: 900;
            font-size: 1.5rem;
            line-height: 2rem;
            color: #83888F;
            word-wrap: break-word;
        }

        .locations{
            display: flex;
            flex-direction: column;
        }

        .locations label img{
        margin-bottom: 0;
        }

        .location-one, .location-two, .location-three{
            /* border: 1px solid black; */
            margin-top: 4.5rem;
            width: 100%;
        }

        .locations h1{
            color: #333D4B;
            margin: .5rem 0 1.25rem 0;
        }
        .uk-map img{
            width: 2.5rem;
            height: 3rem;
        }

        .canada-map img {
            width: 3rem;
            height: 3rem; 
            }

        .australia-map img {
            width: 3rem;
            height: 2.6rem;
            }

        .locations .address-info {
            /* border: 1px solid black; */
            line-height: 1.6rem;
            font-family: 'Barlow';
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.6rem;
            color: #333D4B;
            word-wrap: break-word;
            }

        footer{
                /* border: 1px solid black; */
                margin: 7.5rem 1.5rem 4.5rem 1.5rem;
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: space-between;
                background: #2C343E;
                padding: 3.4rem;
            }

        .footer-items{
            width: 100%;
            /* border: 1px solid black; */
        }

        .footer-image{
            margin-bottom: 3rem;
        }


        .footer-links{
        /* border: 1px solid black; */
        width: 60%;
        display: flex;
        flex-direction: column;
        color: #83888f;
        background-color: transparent;
        justify-content: space-between;
        margin: 0 0 3rem 0;
            }

        .footer-links a{
            background-color: transparent;
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 700;
            font-size: 0.75rem;
            line-height: 0.9rem;
            letter-spacing: 0.9px;
            text-transform: uppercase;
            color: #83888F;;
            }
        
        .footer-links a:nth-of-type(1),
        .footer-links a:nth-of-type(2) {
            padding-bottom: 1.5rem;
            }
            

        .social-media{
            /* border: 1px solid black; */
            background-color: transparent;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 0;
            width: 70%;
            }

        .social-media img{
        background: transparent;
            }
        }

@media screen and (max-width:768px){
    header{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    /* padding: 0; */
    margin: 2.7rem 5rem;
}

.logo img{
    width: 100%;
    /* border: 1px solid black; */
}

.checkbtn{
    display: none;
}

.checkbtn-img{
    width: 100%;
}

.nav-bar{
    /* border: 1px solid black; */
}

.nav-bar ul{
    display: flex;
}

.nav-bar ul li a{
    display: block;
    color: #83888F;
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 0.9rem;
    text-transform: uppercase;
    margin: 0 1rem;
}

.nav-bar ul li a:hover {
    cursor: pointer;
    color: #333D4B;
}

.hero{
    margin: 0 auto;
    padding: 8.5rem 5.2rem; 
    border-radius: .6rem;
    background-image: url('./assets/about/desktop/image-hero-whitecup.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    word-wrap: break-word;
    width: 88%;
}

.hero-txt {
    /* border: 1px solid black; */
    background: transparent;
    width: 45%;
    height: 20%;
    /* margin: 10% 5.3rem; */
}

.hero-txt h1 {
    margin-bottom: 1.5rem;
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 2rem;
    line-height: 3rem;
    }

.hero-txt p {
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6rem;
    opacity: 0.8;
    }

.hero-txt h1,p {
    background: transparent;
    color: #fefcf7;
    }

.first-section {
    margin: 10.5rem 10% 0 10%;
    border-radius: .7rem;
    /* border: 1px solid black; */
    background-size: 40% 100%;
    display: flex;
    justify-content: space-between;
    }

.first-section-image {
    background: url('./assets/about/desktop/image-commitment.jpg');
    width: 42%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 4rem;
    border-radius: .6rem;
    }

.first-section-txt {
    /* border: 1px solid black; */
    width: 45%;
    margin: 8% 0
    }

.first-section-txt h1 {
    margin-bottom: 1.87rem;
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 32px;
    line-height: 48px;
    color: #000;
    }
    
.first-section-txt p {
    font-family: 'Barlow';
    font-weight: 900;
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    color: #000;
    }

.second-section {
    /* border: 1px solid black; */
    margin: 10.5rem 6% 0 6%;
    padding-top: 5.5rem;
    text-align: center;
    }
    
.second-section-items {
    background: url('./assets/about/desktop/bg-quality.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid black; */
    border-radius: .6rem;
    /* padding-bottom: 4rem; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    }

.second-section-image {
    /* border: 1px solid black; */
    width: 35%;
    height: 29.6rem;
    margin: -5.5rem 0 5.5rem 0;
    background: url('./assets/about/desktop/image-quality.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 0.5rem;
    }

.second-section-txt {
    background: transparent;
    width: 40%;
    margin: 5.5rem 0 11rem 0;
    text-align: left;
    }
    
.second-section-txt h1,p {
    background: transparent;
    color: #fefcf7;
    }
    
.second-section h1 {
    margin-bottom: 2rem;
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 2rem;
    line-height: 3rem;
    }
    
.second-section p{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    opacity: 0.8;
    }

.third-section{
    margin: 10.5rem 15% 0 15%;
    /* border:1px solid black; */
}

.third-section h1{
    color: #83888F;
}

.third-section .locations {
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    margin-top: 4.5rem;
    padding-top: .3rem;
}

.location-one,
.location-two,
.location-three{
    width: 33%;
    /* border: 1px solid black; */
}

.third-section .locations label img {
    margin-bottom: 3rem;
    }

.location-one h1,
.location-two h1,
.location-three h1 {
    margin-bottom: 1.3rem;
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 2rem;
    line-height: 2.25rem;    
    color: #333D4B;
}

.third-section .locations .address-info {
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6rem;
    color: #333D4B;
}

footer{
    /* border: 1px solid black; */
    margin: 10.5rem 6% 5.5rem 6%;
    display: flex;
    justify-content: space-between;
    background: #2C343E;
    padding: 3rem 5.3rem;
}

.footer-image {
background: transparent;
/* border: 1px solid black; */
    }

footer .footer-image #footer-logo{
    background: transparent;
    width: 100%;
}    

.footer-items {
    text-align: center;
    background: transparent;
    margin: 0;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    }

.footer-links{
    background: transparent;
    /* border: 1px solid black; */
    width: 45%;
    display: flex;
    justify-content: flex-start;
}

.footer-links a {
    background: transparent;
    color: #83888F;
    font-family: 'Barlow';
    font-weight: 700;
    font-size: .75rem;
    line-height: .9rem;
    word-wrap: break-word;
    /* border: 1px solid black; */
    margin-right: 2rem;
    }

.social-media {
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid black; */
    background: transparent;
    padding: 0;
    }

.social-media img {
    background: transparent;
    width: 15%;
    /* border: 1px solid black; */
    margin: 0;
    }




    
@media screen and (max-width:1100px) {
    .footer-items{
        display: flex;
        justify-content: space-evenly;
    }
    
}





@media screen and (max-width: 768px) {
header{
        padding: 0 5%;
        margin: 2.5rem 0;
        display: flex;
    }

    .hero{
        margin: 3.3rem 5%;
        padding: 7.3rem 0 7.3rem 3.6rem;
        border-radius: .6rem;
        background-image: url('./assets/about/tablet/image-hero-whitecup.jpg');
        background-size: 100% 100%;
        word-wrap: break-word;
        /* border: 1px solid black; */
    }

    .hero-txt{
        background: transparent;
        /* border: 1px solid black; */
        height: 20%;
        width: 59%;
        margin: 0;
    }

    .hero-txt h1{
        margin-bottom: 1.5rem;
        font-family: 'Fraunces 9pt';
        font-weight: 900;
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .hero-txt p{
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 0.95rem;
    line-height: 1.5rem;
    opacity: 0.8;
    }

    .hero-txt h1, p{
        background: transparent;
        color: #fefcf7;
    }

    .first-section{
        margin: 9rem 5% 0 5%;
        border-radius: .7rem;
        /* border: 1px solid black; */
        background-size: 40% 100%;
        display: flex;
        justify-content: space-between;
    }

    .first-section-image{
        background: url('./assets/about/tablet/image-commitment.jpg');
        width: 17.56rem;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-right: 4rem;
        border-radius: .6rem;
    }
    

    .first-section-txt{
        /* border: 1px solid black; */
        width: 21.2rem;
        margin-top: .5rem;
    }

    .first-section-txt h1{
        margin-bottom: 1.87rem;
        font-family: 'Fraunces 9pt';  
        font-weight: 900;
        font-size: 32px;
        line-height: 48px;
        color: #333D4B;
    }

    .first-section-txt p{
        font-family: 'Barlow';
        font-weight: 900;
        font-size: 0.9rem;
        line-height: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .second-section{
        /* border: 1px solid black; */
        margin: 9rem 5% 0 5%;
        text-align: center;
        padding-top: 10rem;
    }

    .second-section-items{
        background: url('./assets/about/tablet/bg-quality.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        /* border: 1px solid black; */
        border-radius: .6rem;
        padding-bottom: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .second-section-image{
        margin-top: -10rem;
        background: url('./assets/about/tablet/image-quality.jpg');
        background-size: 100% 100%;
        width: 80%;
        height: 20rem;
        border-radius: 0.5rem;
        margin-bottom: 0;
    }
    
    .second-section-txt{
        /* border: 1px solid black; */
        width: 75%;
        text-align: center;
        background: transparent;
        margin: 4rem 5rem 0 5rem;    
    }

    .second-section-txt h1,p {
        background: transparent;
        color: #fefcf7;
        }

    .second-section h1{
        margin-bottom: 1.5rem;
        font-family: 'Fraunces 9pt';
        font-weight: 900;
        font-size: 2rem;
        line-height: 3rem;
    }

    .second-section p{
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 0.9rem;
        line-height: 1.5rem;
        opacity: 0.8;
    }

    .third-section{
        margin: 9rem 5% 0 5%;
        /* border:1px solid black; */
    }

    .third-section .locations{
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-top: 4.5rem;
        padding-top: .3rem;
    }

    .location-one, .location-two, .location-three{
        width: 33%;
        /* border: 1px solid black; */
    }

    .third-section .locations label img{
        margin-bottom: 3rem;
        /* border:  1px solid black; */
    }
    .location-one h1, .location-two h1, .location-three h1{
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 1.5rem;
        line-height: 2.25rem;
    }

    .third-section .locations .address-info{
        font-family: 'Barlow';
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.6rem;
        /* border: 1px solid black; */
        }

    footer{
        margin: 9rem 5% 4.5rem 5%;
        background: #2C343E;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3.4rem 0;

    }

    .footer-image {
        background: transparent;
        /* border: 1px solid black; */
        width: 90%;
        margin: auto;
        }
    
    footer .footer-image #footer-logo {
        background: transparent;
        width: 100%;
        }

        .footer-items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 1px solid black; */
        text-align: center;
        width: 42%;
        }

    .footer-links{
        background: transparent;
        margin-bottom: 4rem;
        width: 100%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        margin: 2rem auto 4rem auto;
    }

    .footer-links a{
        background: transparent;
        color: #83888F;
        font-family: 'Barlow';
        font-weight: 700;
        font-size: .75rem;
        line-height: .9rem;
        word-wrap: break-word; 
        margin: 0;   
    }

    .social-media{
        display: flex;
        width: 50%;
        justify-content: space-evenly;
        /* border: 1px solid black; */
        background: transparent;
    }

    .social-media img{
        background: transparent;
        width: 1.5rem;
        height: 1.5rem;
    }
}







@media screen and (max-width:375px){
    header{
        /* border: 1px solid black; */
        margin: 2rem 1.5rem;
        display: flex;
        justify-content: space-between;
    }

    .logo img{
        width: 70%;
    }

    .nav-bar{
        position: absolute;
        top:5.6rem;
        left: 0;
        right: 0;
        width: 100vw;
        height: 0;
        background: linear-gradient(180deg,rgba(254,252,247,1) 50%, rgba(254,252,247,0));
            }

    .nav-bar.active {
        height: 100vh;
        }

    .nav-bar ul{
        display: block;
        margin: 2.5rem auto 0 auto;
        text-align: center;
        opacity: 0;
        background: transparent;
    }

    .nav-bar ul li{
        background: transparent;
    }

    .nav-bar.active ul {
        opacity: 1;
        }
    
    .nav-bar ul li a{
        margin-top: 2rem;
        font-family: 'Fraunces 9pt';
        font-weight: 900;
        font-size: 1.5rem;
        line-height: 2rem;
        color: #333D4B;
        text-transform: capitalize;
        background-color: transparent;
    }

    .checkbtn{
        display:block;
        cursor: pointer;
        }

    .checkbtn img{
        width: 100%;
        height: 100%;    
        }


    .hero{
        margin: 2.5rem 1.5rem;
        padding: 6.9rem 0 5.4rem 0;
        border-radius: .7rem;
        background-image: url('./assets/about/mobile/image-hero-whitecup.jpg');
        background-size: 100% 100%;
        word-wrap: break-word;
        }

        .hero-txt{
            text-align: center;
            margin: 0 auto;
            background-color: transparent;
            /* border: 1px solid black; */
            padding: 0;
            width: 85%;
        }

        .hero-txt h1{
            font-family: 'Fraunces 9pt';
            margin-bottom: 1.5rem;
            background-color: transparent;
            color: #fff;
            font-weight: 900;
        }

        .hero-txt p{
            background-color: transparent;
            color: #fff;
            
        }

        .first-section{
            margin: 7.5rem 1.5rem 0 1.5rem;
            border-radius: .7rem;
            display: flex; 
            flex-direction: column;
            /* border: 1px solid black; */
            
        }

        .first-section-image {
            /* border: 1px solid black; */
            background: url('./assets/about/mobile/image-commitment.jpg');
            background-size: 100% 100%;
            width: 100%;
            height: 25rem;
            border-radius: .5rem;
        }

        .first-section-txt{
            margin-top: 3rem;
            margin-bottom: 0;
            text-align: center;
            width: 100%;
            /* border: 1px solid black; */
            
        }

        .first-section-txt h1{
            font-family: 'Fraunces 9pt';
            font-style: normal;
            font-weight: 900;
            font-size: 2.3rem;
            line-height: 3rem;
            word-wrap:break-word;

        }
        .first-section-txt p{
            padding: 0;
            margin-top: 2rem;
            margin-bottom: 0;
            /* border: 1px solid black; */
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 0.9rem;
            line-height: 1.5rem;
            color: #333D4B;
            mix-blend-mode: normal;
            opacity: 0.8;
        }

        .second-section{
            margin: 12rem 1.5rem 0  1.5rem;
            padding-top: 0;
            /* border: 1px solid black; */
            
        }
        .second-section-items{
            text-align: center;
            background-image: url('./assets/about/mobile/bg-quality.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            margin-top: 4.8rem;
            padding-bottom: 4rem;
            border-radius: .6rem;
            /* border: 1px solid rgb(13, 32, 68); */
        }

        .second-section-image{
            width: 80%;
            height: 9.75rem;
            background: url('./assets/about/mobile/image-quality.jpg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            margin-top: -4.8rem;
        }

        .second-section-txt{
            background-color: transparent;
            display: flex;
            flex-direction: column;
            margin: 4rem 1.7rem 0 1.7rem;
        }    

        .second-section-txt h1,p{
        background-color: transparent;
        color: #fefcf7;
        }
        .second-section-txt h1{
            margin-bottom: 1.5rem;
            font-family: 'Fraunces 9pt';
            font-style: normal;
            font-weight: 900;
            font-size: 1.75rem;
            line-height: 1.75rem;
            word-wrap: break-word;
        }

        .second-section-txt p{
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 0.9rem;
            line-height: 1.5rem;
        }

        .third-section{
            /* border: 1px solid black; */
            margin: 7.5rem 1.5rem 0 1.5rem;
            text-align: center;
        }

        .third-section h1{
            font-family: 'Fraunces 9pt';
            font-style: normal;
            font-weight: 900;
            font-size: 1.5rem;
            line-height: 2rem;
            color: #83888F;
            word-wrap: break-word;
        }

        .locations{
            display: flex;
            flex-direction: column;
        }

        .locations label img{
        margin-bottom: 0;
        }

        .location-one, .location-two, .location-three{
            /* border: 1px solid black; */
            margin-top: 4.5rem;
            width: 100%;
        }

        .locations h1{
            color: #333D4B;
            margin: .5rem 0 1.25rem 0;
        }
        .uk-map img{
            width: 2.5rem;
            height: 3rem;
        }

        .canada-map img {
            width: 3rem;
            height: 3rem; 
            }

        .australia-map img {
            width: 3rem;
            height: 2.6rem;
            }

        .locations .address-info {
            /* border: 1px solid black; */
            line-height: 1.6rem;
            font-family: 'Barlow';
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.6rem;
            color: #333D4B;
            word-wrap: break-word;
            }

        footer{
                /* border: 1px solid black; */
                margin: 7.5rem 1.5rem 4.5rem 1.5rem;
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: space-between;
                background: #2C343E;
                padding: 3.4rem;
            }

        .footer-items{
            width: 100%;
            /* border: 1px solid black; */
        }

        .footer-image{
            margin-bottom: 3rem;
        }


        .footer-links{
        /* border: 1px solid black; */
        width: 60%;
        display: flex;
        flex-direction: column;
        color: #83888f;
        background-color: transparent;
        justify-content: space-between;
        margin: 0 0 3rem 0;
            }

    .footer-links a{
        background-color: transparent;
        font-family: 'Barlow';
        font-weight: 700;
        font-size: 0.75rem;
        line-height: 0.9rem;
        text-transform: uppercase;
        color: #83888F;;
        }
        
    .footer-links a:nth-of-type(1),
    .footer-links a:nth-of-type(2) {
        padding-bottom: 1.5rem;
        }
            

    .social-media{
        /* border: 1px solid black; */
        background-color: transparent;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
        width: 70%;
            }

    .social-media img{
    background: transparent;
            }
        }
    }




